{% block __oro_image_slider_gtm_analytics4__gtm_analytics4_slider_widget %}
    {% set image_slider = block.parent.children|filter(sibling => sibling.vars.id == 'content_widget_image_slider')|first %}
    {% if image_slider %}
        {% set sliderComponentName = image_slider.vars.pageComponentName|default('') %}
        {% if sliderComponentName %}
            {% set contentWidgetName = image_slider.vars.contentWidgetName|default('') %}
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' hidden',
                'data-page-component-module': 'orogoogletagmanager/js/app/components/analytics4/home-page-slider-gtm-analytics4-component',
                'data-page-component-options': {
                    'relatedSiblingComponents': {
                        'embeddedListComponent': sliderComponentName
                    },
                    'blockName': contentWidgetName ? contentWidgetName : sliderComponentName
                }
            }) %}
            <div {{ block('block_attributes') }}></div>
        {% endif %}
    {% endif %}
{% endblock %}
