{% block __oro_product_list_item__google_tag_manager_product_model_expose_widget %}
    {% import 'OroGoogleTagManagerBundle::macros.html.twig' as macros %}

    {% if product is defined %}
        {% if product is iterable and product.product_detail is defined %}
            {% set productDetail = product.product_detail %}
        {% else %}
            {% set productDetail = oro_google_tag_manager_product_detail(product) %}
        {% endif %}

        {% if productDetail is not empty %}
            {% if product.type is not constant('Oro\\Bundle\\ProductBundle\\Entity\\Product::TYPE_CONFIGURABLE') %}
                {% set productPrice = '' %}

                {% if product.prices is defined %}
                    {% set productPrice = macros.getPrice(product.prices) %}
                {% else if productPrices is defined %}
                    {% set productPrice = macros.getPrice(productPrices) %}
                {% endif %}

                {% if productPrice is not empty %}
                    {% set productDetail = productDetail|merge({price: productPrice}) %}
                {% endif %}
            {% endif %}

            {% set attr = layout_attr_defaults(attr, {
                '~class': ' gtm-product-model-exposed hidden',
                'data-page-component-module': 'orogoogletagmanager/js/app/components/product-model-expose-component',
                'data-page-component-options': {'data': productDetail}
            }) %}
            <div {{ block('block_attributes') }}></div>
        {% endif %}
    {% endif %}
{% endblock %}
