{% deprecated 'The "@OroGoogleTagManager/layouts/blank/imports/oro_product_list_item/oro_product_list_item.html.twig" template is deprecated and will be removed in oro/google-tag-manager-bundle:5.1.0.' %}

{% block __oro_product_list_item__google_tag_manager_product_model_expose_widget %}
    {% import 'OroGoogleTagManagerBundle::macros.html.twig' as macros %}

    {% if product is defined %}
        {% if product is iterable and product.product_detail is defined %}
            {% set productDetail = product.product_detail %}
        {% else %}
            {% set productDetail = oro_google_tag_manager_product_detail(product) %}
        {% endif %}

        {% if productDetail is not empty %}
            {% if not is_configurable_product_type(product.type) or matrixFormType == 'none' %}
                {% set productPrice = '' %}

                {% if product.prices is defined %}
                    {% set productPrice = macros.getPrice(product.prices) %}
                {% elseif productPrices is defined %}
                    {% set productPrice = macros.getPrice(productPrices) %}
                {% endif %}

                {% if productPrice is not empty %}
                    {% set productDetail = productDetail|merge({price: productPrice}) %}
                {% endif %}
            {% endif %}

            {% set attr = layout_attr_defaults(attr, {'~class': ' hidden', 'data-gtm-model': productDetail}) %}
            <div {{ block('block_attributes') }}></div>
        {% endif %}
    {% endif %}
{% endblock %}
