{% block _hero_promo_gtm_analytics4_widget %}
    {# @depricated, GTM integration is moved to gtm_analytics4_slider block #}
    {% if blocks.hero_promo is defined %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' hidden'
        }) %}
        <div {{ block('block_attributes') }}></div>
    {% endif %}
{% endblock %}
