{% block _hero_promo_gtm_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hidden',
        'data-page-component-module': 'orogoogletagmanager/js/app/components/home-page-slider-gtm-component',
        'data-page-component-options': {
            'relatedSiblingComponents': {
                'embeddedListComponent': 'home-page-slider'
            },
            'blockName': 'home-page-slider'
        }

    }) %}
    <div {{ block('block_attributes') }}></div>
{% endblock %}
