{% block _google_tag_manager_product_model_expose_widget %}
    {% import 'OroGoogleTagManagerBundle::macros.html.twig' as macros %}

    {% set productDetail = oro_google_tag_manager_product_detail(product) %}
    {% if productDetail is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-model-exposed hidden',
            'data-page-component-module': 'orogoogletagmanager/js/app/components/product-model-expose-component',
            'data-page-component-options': {'data': productDetail|merge({price: macros.getPrice(productPrices)})}
        }) %}
        <div {{ block('block_attributes') }}></div>
    {% endif %}
{% endblock %}
