{% block _google_tag_manager_checkout_handler_widget %}
    <span data-page-component-module="orogoogletagmanager/js/app/handlers/checkout-handler"
          data-page-component-options="{{ {step: 1}|json_encode }}"
    ></span>
{% endblock %}
