{% deprecated 'The "@OroGoogleTagManager/layouts/blank/oro_checkout_frontend_checkout/templates/checkout_handler.html.twig" template is deprecated and will be removed in oro/google-tag-manager-bundle:5.1.0.' %}

{% block _google_tag_manager_checkout_handler_widget %}
    <span data-page-component-module="orogoogletagmanager/js/app/components/checkout-gtm-component"
          data-page-component-options="{{ {data: details}|json_encode }}"
    ></span>
{% endblock %}
