{% block _google_tag_manager_checkout_handler_widget %}
    <span data-page-component-module="orogoogletagmanager/js/app/components/checkout-gtm-component"
          data-page-component-options="{{ {data: details}|json_encode }}"
    ></span>
{% endblock %}
