{% block _google_tag_manager_purchase_handler_widget %}
    <span data-page-component-module="orogoogletagmanager/js/app/components/purchase-gtm-component"
          data-page-component-options="{{ {data: details}|json_encode }}"
    ></span>
{% endblock %}
