{% block _google_tag_manager_analytics4_product_view_widget %}
    {% set productDetail = oro_google_tag_manager_analytics4_product_detail(product) %}
    {% if productDetail is not empty %}
        {% if not is_price_hidden(product, matrixFormType|default('') == 'none') %}
            {% set productDetail = productDetail|merge({price: (productPrices|default([])|first).price|default(0)}) %}
        {% endif %}

        {% set attr = layout_attr_defaults(attr, {
            '~class': ' hidden',
            'data-page-component-module': 'oroui/js/app/components/view-component',
            '~data-page-component-options': {
                view: 'orogoogletagmanager/js/app/views/analytics4/product-gtm-analytics4-view',
                data: productDetail
            },
        }) %}
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}
