{% block _google_tag_manager_analytics4_widget %}
    <div
            data-page-component-module="orogoogletagmanager/js/app/components/analytics4/data-layer-manager-analytics4-component"
            data-page-component-options=""
    ></div>
{% endblock %}
