{% block _google_tag_manager_analytics4_add_checkout_info_widget %}
    <span data-page-component-module="orogoogletagmanager/js/app/components/data-layer-push-component"
          data-page-component-options="{{ {data: data_layer_data}|json_encode }}"
    ></span>
{% endblock %}
